{% extends "base.html" %}
{% load static %}
{% block title %} Games list {% endblock title %}
{% block body %}
<div class="container">
<h1>All games</h1>
  {% if  user.is_staff %}
  <a href="{% url 'games:create' %}" class="btn btn-success">Add new game</a>
  {% else %}
  {% endif %}
  <table class="table bordered-table">
  <tr>
  <th>Number</th>
  <th>Name</th>
  <th>{% if  user.is_staff %}Actions{% endif %}</th>
  {% for row in object_list %}
  <tr>
    <td>{{ row.pk }}</td>
    <td><a href="{% url 'games:detail' row.pk %}">{{ row.name }}</a></td>
    {% if  user.is_staff %}
    <td>
    <a href="{% url 'games:update' row.pk %}"><i class="fas fa-edit"></i></a>
    <a href="{% url 'games:delete' row.pk %}"><i class="fas fa-trash-alt"></i></a>
    </td>
  {% endif %}
  </tr>
  {% endfor %}
  </table>
{% include "paginator.html" %}
</div>
{% endblock body %}